[Unit]
Description=Trigger git-backup daily

[Timer]
OnCalendar=*-*-* 02:00:00
Persistent=true
OnBootSec=15m
RandomizedDelaySec=15m

[Install]
WantedBy=timers.target
